body {
	font-family: 'Roboto Condensed', sans-serif;
	margin: 0;
	padding: 0;
}

#Video1 {
	width: 610px;
}

#play {
	height: 60px;
	width: 60px;
	font-weight: bold;
	font-size: 45px;
}

.less {
	font-weight: bold;
	color: #3182bd;
}

.more {
	font-weight: bold;
	color: #de2d26;
}